@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700,900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

html {
  line-height: 1.5;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 24px;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

a {
  text-decoration: none;
}

.purple {
  color: #6415ff;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 900;
  opacity: 0.75;
}

p {
  font-size: 18px;
  color: #7c8ba1;
}

.purple__titles {
  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgba(100, 21, 255, 1);
  margin-bottom: 16px;
}

li {
  list-style-type: none;
}

.btn__menu{
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #7342d6;
  display: none;
}

.menu__backdrop{
  position: absolute;
  background-color: #242424;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.menu--open .menu__backdrop{
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list{
  padding: 32px 0;
}

.menu__link{
  font-size: 24px;
  color: white;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}





/* NAVIGATION */

nav {
  width: 100%;
  height: 80px;
  display: flex;
  padding: 24px 48px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 40px;
  margin: 0 12px 0 0;
}

.logo__txt {
  font-size: 24px;
  font-weight: 700;
}

.nav__links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  color: #242424;
  font-size: 14px;
  font-weight: 700;
}

.nav__link--primary {
  background-color: #6415ff;
  color: #fff;
  padding: 12px 32px;
  border-radius: 9999px;
}

.btn {
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 9999px;
  color: #fff;
  border: none;
}

/* HEADER */

.header__row {
  display: flex;
  width: 100%;
}

.header__wrapper {
  width: 100%;
}

.header__para {
  margin: 32px 0;
  color: #243e63;
}
.merge {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 448px;
}

.input {
  padding: 22px 0;
  padding-left: 32px;
  width: 100%;
  border-radius: 100px;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  font-weight: 500;
}

.header__btn {
  position: absolute;
  right: 0;
  font-size: 16px;
  font-weight: bold;
  color: #f7fafc;
  margin: 8px 8px 8px 0;
  padding: 18px 32px;
}

.header__img--wrapper {
  width: 100%;
  height: 100%;
}

.header__img {
  width: 100%;
}

.customers {
  margin-top: 80px;
}

.trusted__para {
  font-size: 14px;
  color: #a0aec0;
}

.trusted__img {
  width: 100%;
  opacity: 0.5;
}

/* FEATURES */

.features__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__para {
  margin-top: 16px;
  line-height: 1.625;
  font-weight: 500;
  max-width: 576px;
  margin-bottom: 40px;
  text-align: center;
}

.features__showcase {
  flex-wrap: wrap;
  display: flex;
}

.feature__column {
  margin: 8px 0 0 16px;
}

.feature__item--title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.feature__item--para {
  margin-top: 16px;
}

.feature__item--icon {
  display: flex;
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 100%;
}

.feature__item {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 24px;
}

/* QUALITY */

.quality__row {
  width: 100%;
  display: flex;
}

.quality__description {
  width: 50%;
  max-width: 578px;
  margin-right: 64px;
}

.quality__para {
  margin: 16px 0 40px 0;
}

.quality__img--wrapper {
  width: 50%;
}

.quality__img {
  width: 100%;
}

/* STEPS */

.steps__row {
  display: flex;
}

.steps__img--wrapper {
  width: 50%;
}

.steps__img {
  width: 100%;
}

.steps__description {
  width: 100%;
  max-width: 576px;
  margin-left: 64px;
  margin-right: 0;
}

.steps__list {
  display: flex;
  margin-top: 32px;
}

.steps__info {
  margin-left: 24px;
}

.numbers {
  color: #cbd5e0;
  font-size: 36px;
  font-weight: 600;
  line-height: 36px;
}

.steps__titles {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.steps__para {
  margin-top: 16px;
}

/* VALUES */

.values__row {
  display: flex;
}

.values__description {
  width: 50%;
}

.values__showcase {
  display: flex;
  max-width: 576px;
}

.value__wrapper {
  display: flex;
  flex-direction: column;
  margin: 32px 32px 0 0;
}

.value__wrapper:nth-child(2) {
  margin-right: 0px;
}

.values__para {
  text-align: center;
}

.showcase__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  background-color: #9ae6b4;
  border-radius: 100%;
  overflow: hidden;
  font-size: 20px;
}

.value__top {
  display: flex;
  align-items: center;
}

.value__title {
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.value__bottom {
  margin-top: 16px;
  color: rgb(113, 128, 150);
  line-height: 1.625;
}

.values__btn {
  margin-top: 48px;
}

.values__img--wrapper {
  width: 50%;
}

.values__img {
  width: 100%;
}

/* PRICING */

.plans__container {
  display: flex;
}

.pricing__description {
  width: 100%;
  max-width: none;
  margin-right: 0px;
  text-align: center;
}

.plans {
  width: calc(100% / 3);
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px 0 0;
}

.plans__style {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.plans__style--pink {
  position: absolute;
  width: 100%;
  height: 8px;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.plans__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.plan__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 32px 0;
  color: #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.plans__features {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 32px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.plan__feature--white {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.plans__card {
  position: relative;
  width: 100%;
}

.plans__blue {
  background-color: rgba(0, 0, 255, 0.651);
  width: 100%;
  border-radius: 8px;
}

.plan__name {
  font-size: 20px;
  font-weight: 700;
  margin: 0 60px;
}

.plan__price {
  font-size: 48px;
  font-weight: 700;
  margin: 4px 40px;
}

.plan__duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plans__duration {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.plan__feature--main {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.main__feature--white {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.plan__feature {
  font-size: 16px;
  color: #a0aec0;
  margin: 20px 0 0 0;
}

.plan__action {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

.btn__personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.btn__business {
  background-color: #fff;
  color: #6415ff;
  font-weight: 700;
}

.btn__enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* TESTIMONIALS */

.test__row {
  display: flex;
}

.test__description {
  width: 50%;
  padding-left: 60px;
}

.test__img--wrapper {
  width: 50%;
}

.test__img {
  width: 100%;
}

.test__title {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
  margin-top: 16px;
}

.test__para {
  margin: 16px 0 40px 0;
}

.stars {
  display: flex;
  color: gold;
}

.test__profile {
  display: flex;
  justify-content: space-between;
}

.profile__wrapper {
  display: flex;
  align-items: center;
}

.profile__img--wrapper {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  overflow: hidden;
}

.profile__name {
  font-size: 20px;
  font-weight: 700;
  color: #243e63;
}

.profile__img {
  width: 100%;
}

.profile__description {
  margin-left: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile__title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.arrows {
  display: flex;
  align-items: center;
}

.arrow {
  padding: 12px;
  font-size: 18px;
  border-radius: 9999px;
  border: none;
  color: #6415ff;
}

.button__dash {
  width: 2px;
  height: 25px;
  border: 1px solid #a0aec0;
  margin: 0 12px;
}

/* STARTED */

.started__row {
  display: flex;
  background-color: #6415ff;
  width: 100%;
  height: 300px;
  border-radius: 12px;
  align-items: center;
}

.button__description {
  width: 50%;
  display: flex;
  justify-content: center;
}

h5 {
  font-size: 30px;
  color: #fff;
  padding-left: 48px;
}

.button__wrapper {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.started__btn {
  background-color: rgb(241, 123, 20);
  padding: 20px 40px;
  margin-right: 16px;
  font-size: 16px;
  font-weight: 700;
}

.started__contact {
  border: 1px solid rgba(255, 255, 255, 0.473);
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 700;
}

/* FOOTER */

.footer__container {
  background-color: #6415ff;
  padding: 96px 0 96px 0;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__column--header {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-top: 14px;
}

.footer__column--links {
  margin-top: 16px;
}

.treact__name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-left: 12px;
}

.footer__txt {
  font-size: 30px;
  color: #fff;
  padding-left: 8px;
}

.footer__link {
  font-size: 14px;
  color: #fff;
  margin-top: 14px;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__img {
  width: 24px;
}

.footer__para {
  color: #cbd5f0;
}

.footer__break {
  width: 100%;
  height: 2px;
  background-color: rgba(128, 128, 128, 0.596);
  margin: 64px 0;
}

.footer__list {
  padding: 8px;
  background-color: #fff;
  margin-right: 16px;
  border-radius: 100%;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES, */

@media (max-width: 1023px) {
  .nav__links {
    display: none;
  }
  .btn__menu{
    display: block;
  }

  .container {
    width: 100%;
  }

  .header__row {
    flex-direction: column;
    text-align: center;
  }

  .header__wrapper {
    flex-direction: column;
    max-width: 512px;
    width: 100%;
  }

  .header__img--wrapper {
    width: 50%;
  }

  .header__img {
    width: 100%;
    margin-top: 48px;
  }

  .titles {
    font-size: 30px;
  }

  .header__para {
    font-size: 16px;
    margin: 16px 0;
    line-height: 1.5;
  }

  .merge {
    margin: 0 auto;
    display: flex;
  }

  .trusted__para {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 18px 0;
  }

  .customers {
    margin-top: 32px;
  }

  .features__description {
    display: flex;
  }

  .features__title {
    text-align: center;
  }

  h2 {
    font-size: 48px;
    width: 100%;
  }

  .features__showcase {
    display: flex;
    flex-wrap: wrap;
  }

  .feature__item {
    width: 50%;
  }
}
@media (max-width: 728px) {
  .features__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__title {
    font-size: 36px;
  }

  .quality__row {
    flex-direction: column-reverse;
  }

  .quality__description {
    text-align: center;
    width: 100%;
    max-width: 448px;
    margin-top: 32px;
  }

  h2 {
    font-size: 30px;
  }

  .quality__img--wrapper {
    width: 100%;
    display: flex;
  }

  .quality__img {
    max-width: 448px;
    margin: 0 auto;
  }

  .steps__row {
    flex-direction: column;
  }
  .steps__title {
    text-align: center;
    font-size: 36px;
  }

  .steps__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .steps__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .steps__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
  }

  .steps__para {
    font-size: 14px;
  }

  .steps__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .steps__img {
    width: 100%;
  }

  .values__row {
    flex-direction: column-reverse;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .value__wrapper {
    display: flex;
    align-items: center;
  }

  .values__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .value__bottom {
    text-align: center;
  }

  p {
    font-size: 14px;
    margin-top: 16px;
  }

  .values__img--wrapper {
    width: 100%;
    max-width: 448px;
    height: auto;
  }

  .values__img {
    width: 100%;
  }

  .plans__container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .plans {
    width: 100%;
    max-width: 384px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
  }

  .test__row {
    flex-direction: column;
  }

  .test__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 64px;
    padding: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .test__img {
    width: 100%;
  }

  .test__para {
    text-align: center;
  }

  .profile__wrapper {
    margin-right: 48px;
  }

  .started__row {
    max-width: 1085px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .button__description {
    width: 100%;
  }

  .started__para {
    text-align: center;
    padding: 0 32px;
  }

  .button__wrapper {
    width: 100%;
    margin-top: 24px;
  }

  .started__btn {
    margin-right: 32px;
  }

  .footer__column {
    width: calc(100% / 3);
  }

  .footer__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 24px;
    justify-content: flex-start;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer__para {
    font-size: 20px;
    margin: 32px;
  }
}

@media (max-width: 623px) {
    .titles{
        font-size: 28px;
    }

    .merge{
        flex-direction: column;
    }
    
    .header__btn{
        width: 100%;
        position: static;
    }

  .features__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .feature__item{
    width: 100%;
  }

  .features__title {
    font-size: 36px;
  }

  .quality__row {
    flex-direction: column-reverse;
  }

  .quality__description {
    text-align: center;
    width: 100%;
    max-width: 448px;
    margin: 32px 28px 0 28px;
  }

  h2 {
    font-size: 30px;
  }

  .quality__img--wrapper {
    width: 100%;
    display: flex;
  }

  .quality__img {
    max-width: 448px;
    margin: 0 auto;
  }

  .steps__row {
    flex-direction: column;
  }
  .steps__title {
    text-align: center;
    font-size: 36px;
  }

  .steps__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 0;
  }

  .steps__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .steps__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
  }

  .steps__para {
    font-size: 14px;
  }

  .steps__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .steps__img {
    width: 100%;
  }

  .values__row {
    flex-direction: column-reverse;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .value__wrapper {
    display: flex;
    align-items: center;
  }

  .values__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .value__bottom {
    text-align: center;
  }

  p {
    font-size: 14px;
    margin-top: 16px;
  }

  .values__img--wrapper {
    width: 100%;
    max-width: 448px;
    height: auto;
  }

  .values__img {
    width: 100%;
  }

  .plans__container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .plans {
    width: 100%;
    max-width: 384px;
    padding: 64px 0;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  .test__row {
    flex-direction: column;
  }

  .test__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 64px;
    padding: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .test__img {
    width: 100%;
  }

  .test__para {
    text-align: center;
  }

  .profile__wrapper {
    margin-right: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }

  .test__profile{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .started__row {
    max-width: 1085px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
  }

  .button__description {
    width: 100%;
  }

  .started__para {
    font-size: 24px;
    text-align: center;
    padding: 0 32px;
  }

  .button__wrapper {
    width: 100%;
    margin-top: 24px;
    flex-direction: column;
  }

  .started__btn {
    padding: 16px 38px;
    margin: 16px;
    font-size: 14px;
  }

  .started__contact {
    padding: 14px 34px;
  }

  .footer__column {
    width: calc(100% / 5);
    min-width: 100px;
  }

  .footer__columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer__para {
    font-size: 20px;
    margin: 32px;
    text-align: center;
  }
}
@media (max-width: 350px) {
    .titles{
        font-size: 28px;
    }

  .features__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features__title {
    font-size: 36px;
  }

  .quality__row {
    flex-direction: column-reverse;
  }

  .quality__description {
    text-align: center;
    width: 100%;
    max-width: 448px;
    margin: 32px 28px 0 28px;
  }

  h2 {
    font-size: 30px;
  }

  .quality__img--wrapper {
    width: 100%;
    display: flex;
  }

  .quality__img {
    max-width: 448px;
    margin: 0 auto;
  }

  .steps__row {
    flex-direction: column;
  }
  .steps__title {
    text-align: center;
    font-size: 36px;
  }

  .steps__description {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 0;
  }

  .steps__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .steps__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
  }

  .steps__para {
    font-size: 14px;
  }

  .steps__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .steps__img {
    width: 100%;
  }

  .values__row {
    flex-direction: column-reverse;
  }

  .values__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .value__wrapper {
    display: flex;
    align-items: center;
  }

  .values__showcase {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .value__bottom {
    text-align: center;
  }

  p {
    font-size: 14px;
    margin-top: 16px;
  }

  .values__img--wrapper {
    width: 100%;
    max-width: 448px;
    height: auto;
  }

  .values__img {
    width: 100%;
  }

  .plans__container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .plans {
    width: 100%;
    max-width: 384px;
    padding: 64px 0;
  }

  h2 {
    font-size: 30px;
    text-align: center;
  }

  .test__row {
    flex-direction: column;
  }

  .test__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 64px 64px;
    padding: 0;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .test__img--wrapper {
    width: 100%;
    max-width: 448px;
  }

  .test__img {
    width: 100%;
  }

  .test__para {
    text-align: center;
  }

  .profile__wrapper {
    margin-right: 0;
  }

  .started__row {
    max-width: 1085px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
  }

  .button__description {
    width: 100%;
  }

  .started__para {
    font-size: 24px;
    text-align: center;
    padding: 0 32px;
  }

  .button__wrapper {
    width: 100%;
    margin-top: 24px;
    flex-direction: column;
  }

  .started__btn {
    padding: 16px 38px;
    margin: 16px;
    font-size: 14px;
  }

  .started__contact {
    padding: 14px 34px;
  }

  .footer__column {
    width: calc(100% / 5);
    min-width: 100px;
  }

  .footer__columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
  }

  .footer__socials {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .footer__para {
    font-size: 20px;
    margin: 32px;
  }
}
